<p id="notice"><%= notice %></p>

<p>
  <b>Name m countries:</b>
  <%= @m_country.name_M_Countries %>
</p>


<%= link_to 'Edit', edit_m_country_path(@m_country) %> |
<%= link_to 'Back', m_countries_path %>
